
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(17, 15, 15);
    
}

.MD{
    display: flex;
    background-image: url(./Background.png);
   background-size: cover;
   width: 100%;
   height: 100vh;
    }
    .MD>*{
        flex: 1;
    }
    .leap h1{
        color: #FFFFFF;
        padding-top: 50px;
        padding-left: 30px;
    }
   
    .leap1{
        display: flex;
    }
    
    .leap1{
        padding-top: 45px;
    }
    .leap1 h4{
        color: #FFFFFF;
        text-transform: capitalize;
        padding: 20px;
    }
.klm{
    text-align: center;
    color: #FFFFFF;
    padding-top: 300px;
}
.klm h6{
    color: #FBD784;
    text-transform: uppercase;
    font-size: 13px;
    font-style: bold;
    position: relative;
}
.klm h6::before{
    content: "";
    height: 2px;
    width: 60px;
    background-color: #FFA343;
    position: absolute;
    top: 40%;
    right: 80%;
}
    
   /*step end*/
.sarafat{
    display: flex;
}
.sarafat>*{
    flex: 1;
}
.cop{
    color: #FFFFFF;
    margin-top: 200px;
    text-align: center;

}
.read1{
    color: #FBD784;
    text-decoration: none;
    }
    .ab2{
        font-size: 15px;
        color: #FBD784;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 6px;
        position: relative;
    }
    .cop h3{
        padding-top: 17px;
    }
    .cop p{
       padding-top: 20px; 
    }
    .ab2::before{
        content: "";
        height: 2px;
        width: 50px;
        background-color: #FFA343;
        position: absolute;
        top: 40%;
        left: 20%;
    }
/*step 1 end */

.hossen{
    position: relative;
}
.lap{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 20%;
    color: #FFFFFF;
}
.lap h5{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.lap h5::before{
    content: "";
    background-color: #FFA343;
    height: 2px;
    width: 50px;
    position: absolute;
    left: 37%;
    top: 40%;
}
.lap h5::after{
    content: "";
    background-color: #FFA343;
    height: 2px;
    width: 50px;
    position: absolute;
    left: 55%;
    top: 40%;
}
.read2{
    color: #FBD784;
    text-decoration: none;
}
/*step2 end */

.srabon{
    display: flex;
}
.srabon>*{
    flex: 1;
}
.rack{
    color: #FFFFFF;
    margin-top: 25%;
    text-align: center;
}
.read3{
    color: #FBD784;
    text-decoration: none;
}
.ac2{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;   
}
.ac2::before{
    content: "";
    background-color: #FFA343;
    height: 2px;
    width: 70px;
position: absolute;
left: 25%;
top: 40%;
}

/*step 3 end */

.mondol{
    display: flex;
    margin-top: 30px;
}
.mondol>*{
    flex: 1;
}

.btn{
    background-color: #FFA343;
    border-radius: 15px;
    border: none;
    padding: 6px 15px;
    margin-left: 20px;
    margin-top: 15px;
}
.kal h1{
    color: #FFFFFF;
   
}
.btn1{
    background: none;
    border: none;
    color: white;
    margin-top: 15px;
}


/*step 4 end */

.faal{
    display: flex;
}
.faal>*{
    flex: 1;
}
.kb1{
   
    background-color: rgb(14, 11, 11);
    color: rgb(119, 110, 110);
    border: 0 0 0;
    margin-top: 20px;
    margin-left: 30px;
}
.kal h1{
    padding-left: 30px;
    padding-top: 15px;
}
.cmnt1{
    padding-left: 30px;
    padding-top: 20px;
    color: #FFFFFF;
}


/*step 5 end */
.mam{
    display: flex;
}
.mam>*{
    flex: 1;
}
.mam ul li{
    list-style: none;
    line-height: 30px;
}
.mam ul li a{
    text-decoration: none;
    color: white;
}

.mam h4{
    color: #FBD784;
    padding-top: 10px;
}

.los1{
    color: #FFFFFF;
    padding-top: 20px;
    display: inline-block;
    padding-left: 50px;
}
.los2{
    color: #FFFFFF;
    padding-bottom: 20px;
    display: inline-block;
    padding-left: 90px;
}


/*media quwery*/
/*tablet*/
@media (max-width:800px){
    .klm h6::before{
        content: "";
        height: 2px;
        width: 60px;
        background-color: #FFA343;
        position: absolute;
        top: 40%;
        right: 95%;
    }

    .leap1{
        display: flex;
    }
    
    .leap1{
        padding-top: 50px;
    }
    .leap1 h4{
        color: #FFFFFF;
        text-transform: capitalize;
        padding: 5px;
    }

    
    .cop{
        color: #FFFFFF;
        margin-top: 200px;
        text-align: center;
    
    }
    .read1{
        color: #FBD784;
        text-decoration: none;
        font-size: 12px;
        }
        .ab2{
            font-size: 10px;
            color: #FBD784;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
        }
        
        .cop p{
           padding-top: 20px;
           font-size: 10px; 
           line-height: 20px;
        }
        .ab2::before{
            content: "";
            height: 2px;
            width: 50px;
            background-color: #FFA343;
            position: absolute;
            top: 40%;
            left: 10%;
        }
        .lo2{
            width: 380px;
        }
        .po2{
            font-size: 13px;
            line-height: 15px;
        }

        .lap h5::before{
            content: "";
            background-color: #FFA343;
            height: 2px;
            width: 50px;
            position: absolute;
            left: 32%;
            top: 40%;
        }
        .lap h5::after{
            content: "";
            background-color: #FFA343;
            height: 2px;
            width: 50px;
            position: absolute;
            left: 60%;
            top: 40%;
        }
        
        .ko2{
            width: 380px;
        }
        .rack{
            color: #FFFFFF;
            margin-top: 25%;
            text-align: center;
        }
        .read3{
            color: #FBD784;
            text-decoration: none;
            margin-top: 10px;
            display: inline-block;
        }
        .ac2{
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            position: relative; 
            line-height: 10px;  
        }
        .ac2::before{
            content: "";
            background-color: #FFA343;
            height: 2px;
            width: 60px;
        position: absolute;
        left: 15%;
        top: 40%;
        }
        .mo2{
            font-size: 14px;
            line-height: 18px;
        }

}
/*mobile phone*/
@media (max-width:468px){
    .leap h1{
        color: #FFFFFF;
        padding-top: 45px;
        padding-left: 30px;
        font-size: 15px;
        font-weight: 10px;
    }
   
    .leap1{
        display: flex;
    }
    
    .leap1{
        padding-top: 45px;
    }
    .leap1 h4{
        color: #FFFFFF;
        text-transform: capitalize;
        padding: 3px;
        font-size: 10px;
        margin-top: -3px;
    }
.klm{
    text-align: center;
    color: #FFFFFF;
    padding-top: 300px;
}
.klm h6{
    color: #FBD784;
    text-transform: uppercase;
    font-size: 9px;
    font-style: bold;
    position: relative;
    
}
.klm h6::before{
    content: "";
    height: 1px;
    width: 45px;
    background-color: #FFA343;
    position: absolute;
    top: 40%;
    right: 105%;
}
.hh2{
    font-size: 16px;
    padding-top: 7px;
}

.cop{
    color: #FFFFFF;
    margin-top: 60px;
    text-align: center;

}
.read1{
    color: #FBD784;
    text-decoration: none;
    font-size: 8px;
    margin-left: -20px;
    }
    .ab2{
        font-size: 8px;
        color: #FBD784;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
    }
    .cop h3{
        padding-top: 10px;
        font-size: 15px;
    }
    .cop p{
       padding-top: 10px; 
       font-size: 6px;
       line-height: 10px;
       margin-left: -20px;
    }
    .ab2::before{
        content: "";
        height: 1px;
        width: 40px;
        background-color: #FFA343;
        position: absolute;
        top: 40%;
        left: 2%;
    }
    .lo2{
        width: 200px;
    }
    .po2{
        font-size: 10px;
        line-height: 10px;
        margin-left: -28%;
        margin-top: 6px;
    }

    .lap h5::before{
        content: "";
        background-color: #FFA343;
        height: 1px;
        width: 40px;
        position: absolute;
        left: 35%;
        top: 40%;
    }
    .lap h5::after{
        content: "";
        background-color: #FFA343;
        height: 1px;
        width: 40px;
        position: absolute;
        left: 57%;
        top: 40%;
    }
    .lap h5{
        font-size: 10px;
        margin-left: -45%;
    }
    .lap h3{
    font-size: 15px;
    padding-top: 7px;
    margin-left: -45%;
    }
    .read2{
    margin-left: -46%;
    font-size: 12px;
    }

    .ko2{
        width: 200px;
    }

    .rack{
        color: #FFFFFF;
        margin-top: 10%;
        text-align: center;
    }
    .rack h3{
        font-size: 15px;
        font-weight: bold;
    }
    .read3{
        color: #FBD784;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        font-size: 10px;
    }
    .ac2{
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative; 
        line-height: 10px;  
        letter-spacing: 2px;
        color: #FBD784;
    }
    .ac2::before{
        content: "";
        background-color: #FFA343;
        height: 1px;
        width: 35px;
        position: absolute;
        left: 5%;
        top: 40%;
    }
    .mo2{
        font-size: 8px;
        line-height: 10px;
    }

    .kal h1{
        font-size: 20px;
    }
    .btn1{
        font-size: 10px;
        margin-top: -6%;
    }
    .btn{
        font-size: 10px;
        padding: 4px 10px;
        border-radius: 15px;
    }
    .cmnt1{
        font-size: 13px;
    }
    .mam h4{
        font-size: 12px;
    }
    .mam ul li {
        line-height: 15px;
        font-size: 10px;
    }
    

}

    
    







